<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="/styles/style.css"> <!-- Update the path to your CSS file -->
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        /* Custom Styles */
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .nav-link {
            font-size: 1.1rem;
        }

        .footer-text {
            font-size: 0.9rem;
        }
    </style>
</head>

<body class="bg-gray-100">
    <nav class="bg-teal-500 p-6 mb-12">
        <div class="container">

            <div class="w-full flex items-center justify-between">
                <div class="flex items-center">
                    <img src="/Images/Ayurveda-icon2.png" alt="Ayurveda is life" class="inline-block w-10 h-10 mr-2">
                </div>
                <div class="navbar-brand text-white">
                    Ayurveda Life
                </div>
                <div>

                    <button id="navbar-toggle" class="text-white md:hidden">
                        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Menu</title>
                            <path d="M0 3h20v2H0zM0 9h20v2H0zM0 15h20v2H0z" />
                        </svg>
                    </button>
                    <div id="navbar-menu" class="hidden flex flex-col md:block">
                        <a href="#responsive-header" class="nav-link text-white mr-4">Home</a>
                        <a href="#about" class="nav-link text-white mr-4">About</a>
                        <a href="#contact" class="nav-link text-white">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="w-4/5 mx-auto bg-white p-8 rounded shadow-md">
        <form action="/submit-responses?page=<%= nextPage%>" method="post">
            <!-- Update the action attribute with your endpoint URL -->
            <!-- Name, Age, Gender, Place of Birth Section -->
            <% if(locals.nextPage>1) { %>

                <!-- Multiple Choice Questions Section -->
                <!-- Multiple Choice Questions Section -->
                <div class="w-fit mx-auto px-4">

                    <h2 class="text-2xl font-bold mb-4">
                        <%=section %>
                    </h2>
                    <% Questions.forEach((question)=> {%>

                        <div class="mb-6 bg-white shadow-md rounded-lg p-6">
                            <p class="mb-4 text-lg font-medium">
                                <%=question.text %>
                            </p>
                            <% let defaultOptions=['A','B','C']; let colorOptions=['green','blue','yellow']; let
                                defaultValues=['Vata','Pitta','Kapha']%>
                                <% for(let i=0;i<(question.options.length);i++) { %>
                                    <div class="flex items-center space-x-4">

                                        <input type="radio" id="option<%=question.id%><%=i%>"
                                            name="color<%=question.id%>" value="<%=defaultValues[i]%>" class="hidden"
                                            onclick="toggleBackground(this)">
                                        <label for="option<%=question.id%><%=i%>"
                                            class="flex items-center justify-center w-12 h-12 border rounded-full cursor-pointer transition-colors duration-300 ease-in-out">
                                            <span class="text-lg font-semibold text-<%=colorOptions[i]%>-600">
                                                <%=defaultOptions[i]%>
                                            </span>
                                        </label>
                                        <span class="text-lg text-gray-800">
                                            <%=question.options[i] %>
                                        </span>

                                    </div>
                                    <% } %>
                        </div>

                        <% }) %>

                </div>


                <% } else { %>
                    <div class="">
                        <div class="block">

                            <h1 class="text-3xl text-center">Personal Information</h1>
                            <div class="grid justify-center">

                                <img src="/Images/user-information.png" class="w-20 h-20 my-6 items-center" alt="user">
                            </div>
                        </div>
                        <div class="mb-6">
                            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                            <input type="text" id="name" name="name"
                                class="form-input mt-1 block w-full rounded-md shadow-sm" placeholder="Enter your name"
                                autocomplete="off" required>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="mb-6">
                                <label for="age" class="block text-sm font-medium text-gray-700">Age</label>
                                <select id="age" name="age" class="form-select mt-1 block w-full rounded-md shadow-sm"
                                    required>
                                    <option value="children">(0-12) yrs Children</option>
                                    <option value="teenages">(13-19) Teenagers</option>
                                    <option value="youngAdult">(20-39) Young Adult</option>
                                    <option value="middleAgedAdult">(40-59) Middle-Aged Adult</option>
                                    <option value="seniorCitizen">(60 & above) Senior Citizen </option>
                                </select>
                            </div>
                            <div class="mb-6">
                                <label for="gender" class="block text-sm font-medium text-gray-700">Gender</label>
                                <select id="gender" name="gender"
                                    class="form-select mt-1 block w-full rounded-md shadow-sm" required>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-6">
                            <label for="placeOfBirth" class="block text-sm font-medium text-gray-700">Place of
                                Birth</label>
                            <input type="text" id="placeOfBirth" name="placeOfBirth"
                                class="form-input mt-1 block w-full rounded-md shadow-sm"
                                placeholder="Enter your place of birth" autocomplete="off" required>
                        </div>

                    </div>

                    <% } %>
                        <!-- Submit Button -->
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <% if(locals.nextPage!=1) { %>
                                    <button type="submit"
                                    class="bg-gray-200 hover:bg-gray-500 text-gray-600 px-4 py-2 rounded-full mr-2 transition duration-300 ease-in-out">Previous</button>

                                    <% }%>
                                <span class="text-gray-600 mr-2">Page <%=locals.nextPage-1 || 1 %> of 6</span>
                                <% if (locals.nextPage!=7) { %>
                                    <button type="submit"
                                        class="bg-gray-200 hover:bg-gray-300 text-gray-600 px-4 py-2 rounded-full mr-2 transition duration-300 ease-in-out">Next</button>
                                    <% } %>
                            </div>
                            <% if(locals.nextPage==7) {%>
                                <button type="submit"
                                    class="bg-green-400 hover:bg-green-800 text-white px-4 py-2 rounded-full transition duration-300 ease-in-out">Submit</button>
                                <% } %>
                        </div>
        </form>
    </div>
    <footer class="text-center p-6 mt-10 bg-teal-500 text-white bottom-0">
        <p class="footer-text">&copy; <%-new Date().getFullYear() %> Ayurveda Life. All rights reserved.</p>
    </footer>
</body>
<script>
    // Function to validate if at least one option is selected for each question
    function validateForm() {
        let questions = document.querySelectorAll('[name^="color"]');
        let questionGroups = {}; // Object to store selected options for each question
        let isValid = true; // Flag to track overall validation result

        questions.forEach(question => {
            let questionId = question.name.replace("color", ""); // Extract question ID
            if (!questionGroups[questionId]) {
                questionGroups[questionId] = [];
            }
            if (question.checked) {
                if (questionGroups[questionId].includes(question.value)) {
                    // Alert if the same option is selected again
                    alert("You can only select one option per question.");
                    isValid = false;
                } else {
                    questionGroups[questionId].push(question.value);
                }
            }
        });

        if (!isValid) {
            return false;
        }

        for (let questionId in questionGroups) {
            if (questionGroups[questionId].length !== 1) {
                // Alert if no option is selected for a question
                alert("Please select one option for each question.");
                return false;
            }
        }

        return true;
    }

    // Attach the validation function to the form submission event
    document.querySelector('form').addEventListener('submit', function (event) {
        if (!validateForm()) {
            event.preventDefault(); // Prevent form submission if validation fails
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Toggle the "hidden" class on the navbar menu when the button is clicked
        document.getElementById('navbar-toggle').addEventListener('click', function () {
            var menu = document.getElementById('navbar-menu');
            menu.classList.toggle('hidden');
        });
    });

    function toggleBackground(element) {
        let questionId = element.name.replace("color", "");
        let options = document.querySelectorAll('[name="color' + questionId + '"]');
        options.forEach(option => {
            // Add background color class only to the selected option
            if (option.checked) {
                option.nextElementSibling.classList.add('bg-teal-500');
            } else {
                option.nextElementSibling.classList.remove('bg-teal-500');
            }
        });
    }


</script>

</html>